.site-header {
  display: flex;
  background-color: lightsteelblue;
  border: 5px;
  border-bottom: solid 0.3rem;
}

.site-logo {
  font-size: 1.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo img {
  width: 40px;
  height: 40px;
}

.site-header-item {
  list-style: none;
  display: inline-block;
  margin: 2px;
  padding: 6px;
  border: 2px;
  border-radius: 16px;
  color: black;
  background-color: lightblue;
}

.site-header-item:hover {
  background-color: lightblue;
}

.site-header-item button {
  background-color: unset;
  margin: 0px;
  border: none;
  cursor: pointer;
}
