.todo {
  position: relative;
  border: 2.5px solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 20%;
  color: whitesmoke;
}

.remove-button {
  all: unset;
  font-size: 0.85rem;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: red;
  text-align: center;
  justify-self: right;
  width: 26px;
  height: 26px;
}

.todo h2 {
  padding-top: 10px;
  color: lightskyblue;
  font-size: 2rem;
  margin: 0 auto;
}

.todo p {
  font-size: 1.5rem;
  margin: 0 auto;
}

.todo h4 {
  color: grey;
  font-size: 0.75rem;
  margin: 0.2em auto;
}
