.todo {
  position: relative;
  border: 2.5px;
  border-style: groove;
  padding-right: 20%;
  max-width: fit-content;
}

.remove-button {
  all: unset;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: red;
  text-align: center;
  justify-self: right;
  width: 26px;
  height: 26px;
}
